.arrivial {
  padding: 20px 0;
}
.arrivial_top {
  @include grid(1fr 1fr, 50px);
  align-items: flex-start;

  img {
    width: 100%;
  }
  &_text {
    @include grid(1fr, 10px);
    padding-top: 30px;

    h1 {
      font-size: 48px;
      color: $color-black;
      font-family: $PT-sans;
    }
    p {
      font-size: 16px;
      color: $color-gray;
      font-family: $montserrat;
    }
    button {
      width: 150px;
      height: 40px;
      background-color: $color-yellow;
      color: $color-white;
      font-size: 15px;
      border: none;
      font-family: $montserrat;
      border-radius: 3px;
    }
    button:hover {
      background-color: $color-btn;
    }
  }
}
.arrivial_bottom {
  @include flex(center, end, 10px);
  margin-top: -17%;

  &_item {
    width: 280px;
    height: 300px;
    padding: 30px 30px;
    @include grid(1fr, 20px);

    img {
      width: 80%;
      margin: 0 auto;
    }

    &_ {
      @include flex(center, space-between, 0);

      &text {
        @include grid(1fr, 5px);
        font-family: $montserrat;

        h1 {
          font-size: 16px;
          color: $color-black;
          font-weight: 500;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: $color-yellow;
        }
      }
      &i {
        @include flex(center, center, 0);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $color-yellow;
        padding-top: 1px;
        cursor: pointer;

        i {
          font-size: 13px;
          color: $color-white;
        }
      }
      &i:hover {
        background-color: $color-btn;
      }
    }
  }
}

.arrivial_bottom_item1 {
  background-color: #f7ece7;
}
.arrivial_bottom_item2 {
  background-color: #e4e2e0;
}
.arrivial_bottom_item3 {
  background-color: #e6f8e9;
}

@media (max-width: 1200px) {
  .arrivial_bottom {
    @include grid(1fr 1fr 1fr, 15px);
    margin-top: -10%;

    &_item {
      width: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .arrivial_top {
    br {
      display: none;
    }
  }
}

@media (max-width: 950px) {
  .arrivial_bottom {
    margin-top: -5%;
  }
}

@media (max-width: 750px) {
  .arrivial_bottom {
    @include grid(repeat(8, 1fr), 20px);
    margin-top: 0;

    &_item {
      height: auto;
    }
  }
  .arrivial_bottom_item1 {
    grid-column: 1/5;
  }
  .arrivial_bottom_item2 {
    grid-column: 5/9;
  }
  .arrivial_bottom_item3 {
    grid-column: 3/7;
  }
}

@media (max-width: 650px) {
  .arrivial_top {
    @include grid(0.8fr 1fr, 20px);

    &_text {
      padding: 0;
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 15px;
      }
    }
  }
  .arrivial_bottom {
    margin-top: 5%;
  }
}

@media (max-width: 550px) {
  .arrivial_top {
    @include grid(1fr, 10px);

    &_text {
      h1 {
        font-size: 48px;
      }
      p {
        font-size: 17px;
      }
    }
  }
  .arrivial_bottom {
    &_item {
      padding: 17px;

      img {
        width: 70%;
      }
      &_ {
        &text {
          h1 {
            font-size: 13px;
          }
          p {
            font-size: 12px;
          }
        }
        &i {
          width: 35px;
          height: 35px;

          i {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .arrivial_top {
    &_text {
      h1 {
        font-size: 32px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .arrivial_bottom {
    @include grid(1fr, 10px);

    &_item {
      @include grid(1fr, 25px);

      img {
        width: 60%;
      }
      &_ {
        &text {
          h1 {
            font-size: 20px;
          }
          p {
            font-size: 17px;
          }
        }
        &i {
          width: 50px;
          height: 50px;

          i {
            font-size: 18px;
          }
        }
      }
    }
  }
  .arrivial_bottom_item1 {
    grid-column: 1/2;
  }
  .arrivial_bottom_item2 {
    grid-column: 1/2;
  }
  .arrivial_bottom_item3 {
    grid-column: 1/2;
  }
}
