.brend {
  background-color: #fffaec;
  padding: 30px 0;
  margin: 20px 0;

  &_title {
    font-size: 30px;
    color: $color-black;
    font-family: $PT-sans;
    padding-bottom: 20px;
    text-align: center;
  }
  &_items {
    @include grid(repeat(5, 1fr), 50px);
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 700px) {
  .brend {
    &_items {
      @include grid(repeat(12, 1fr), 50px);

      img {
        width: 100%;
      }

      img:nth-of-type(1) {
        grid-column: 1/5;
      }
      img:nth-of-type(2) {
        grid-column: 5/9;
      }
      img:nth-of-type(3) {
        grid-column: 9/13;
      }
      img:nth-of-type(4) {
        grid-column: 3/7;
      }
      img:nth-of-type(5) {
        grid-column: 7/11;
      }
    }
  }
}

@media (max-width: 630px) {
  .brend {
    &_items {
      @include grid(repeat(8, 1fr), 20px);

      img:nth-of-type(1) {
        grid-column: 1/5;
      }
      img:nth-of-type(2) {
        grid-column: 5/9;
      }
      img:nth-of-type(3) {
        grid-column: 1/5;
      }
      img:nth-of-type(4) {
        grid-column: 5/9;
      }
      img:nth-of-type(5) {
        grid-column: 3/7;
      }
    }
  }
}
