.skin > div {
  @include grid(1fr 1.8fr 1.5fr, 50px);
  padding: 20px 0;
}
.skin {
  img {
    width: 100%;
  }
  &_text {
    @include grid(1fr, 0);
    justify-content: space-between;

    h1 {
      font-size: 64px;
      color: $color-yellow;
      font-family: $PT-sans;
    }
    h2 {
      font-size: 36px;
      color: $color-black;
      font-family: $PT-sans;
    }
    p {
      font-size: 16px;
      color: $color-gray;
      font-family: $montserrat;
    }
  }
  &_items {
    @include grid(1fr, 20px);

    &_ {
      @include grid(1fr, 10px);

      h1 {
        font-size: 48px;
        color: $color-yellow;
        font-family: $PT-sans;
      }
      p {
        font-size: 18px;
        color: $color-gray;
        font-family: $montserrat;
      }
    }
  }
}

@media (max-width: 1200px) {
  .skin > div {
    @include grid(1fr 1fr, 30px);
    align-items: flex-start;
  }
  .skin {
    &_items {
      grid-column: 1/3;
      @include grid(1fr 1fr, 30px);
    }
  }
}

@media (max-width: 600px) {
  .skin {
    &_text {
      h1 {
        font-size: 48px;
      }
      h2 {
        font-size: 26px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 500px) {
  .skin > div {
    @include grid(1fr, 20px);
  }
  .skin {
    img {
      grid-row: 2/3;
    }
    &_text {
      @include grid(1fr, 8px);
      grid-row: 1/2;
      h1 {
        font-size: 64px;
      }
      h2 {
        font-size: 32px;
      }
    }
    &_items {
      grid-column: 1/2;
      grid-row: 3/4;

      &_ {
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .skin {
    &_text {
      h2 {
        font-size: 28px;
      }
    }
    &_items {
      @include grid(1fr, 20px);

      &_ {
        p {
          font-size: 16px;
        }
      }
    }
  }
}
