$color-black: #1a1a1a;
$color-white: #fff;
$color-gray: #444444;
$color-yellow: #f47600;
$color-btn: #f47600c6;
$color-red: rgba(255, 0, 0, 0.737);
$PT-sans:"PT Sans", sans-serif;
$montserrat: "Montserrat", sans-serif;